@{
    ViewData["Title"] = "Home Page";
    ViewData["testVariable"] = "Test";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ALearn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Test new branch</p>
</div>